* {
  padding: 0;
  margin: 0;
}

.Section1 {
  background-color: #1f2937;
  color: white;
  padding: 0rem 15rem 8rem 15rem;
}

header {
  padding-top: 2rem;
  margin-bottom: 6rem;
}

#Header_logo {
  margin-left: 0rem;
}

#link-gaps{
  margin-right: -0.5rem;
}
.nav-list {
  display: flex;
  justify-content: flex-end;
}

.nav-item {
  list-style: none;
  margin: .5rem 1.5rem 1.5rem 1.5rem;
  font-size: 18px;
}

.nav-item a {
  text-decoration: none;
  list-style: none;
  color: white;
}

.nav-item:first-child {
  margin-right: auto;
  font-size: 24px;
}

main {
  display: flex;
}

main > div {
  width: 50%;
}

.right-container {
  background-color: grey;
}

.img_placeholder {
  margin-top: 7rem;
  text-align: center;
}

.hero-main-text {
  font-size: 53px;
  color: #f9faf8;
}

.hero-sec-text {
  font-size: 22px;
}

button {
  background-color: #3882f6;
  color: white;
  width: 150px;
  padding: .5rem;
  border-radius: 10%;
  font-size: 12px;
  font-size: large;
  margin-top: 1rem;
}

/* START OF SECTION 2*/

.section2 {
  padding: 0rem 20rem 10rem 20rem;
  color: black;
}
.header2 {
  display: flex;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  text-align: center;
  justify-content: center;
  font-size: 36px;
}

.main-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 1.3rem;
  padding-bottom: 8rem;
}

.square-container{
  justify-content: center;
}
.squares {
  display: block;
  width: 175px;
  height: 175px;
  border: #3882f6 solid 4.5px;
  border-radius: 25px;
  margin-left: 8px;
  margin-bottom: 0.5rem;
  justify-content: center;
}

.sub-text {
  text-align: center;
  width: 200px;
  font-size: 22px;
}

/* START OF SECTION 3*/

.section3 {
  padding: 8rem 20rem;
  color: black;
  background-color: #e5e7eb;
}

.main-text {
  display: block;
  width: 100%;
  height: 100%;
}

.main-text > p {
  font-size: 40px;
}

.sec-text {
  display: block;
  text-align: right;
  font-size: 18px;
}

/* START OF SECTION 4*/

.section4 {
  background-color: white;
  padding: 8rem 12rem;
  color: white;
}

.call2action-container {
  display: flex;
  width: auto;
  height: auto;
  background-color: #3882f6;
  padding: 3rem 0rem;
  justify-content: center;
  border-radius: 5%;
  gap: 18rem;
}

.call2action-container > .main-text {
  width: 50%;
}

.main-text4 > h2 {
  font-size: 28px;
}

.main-text4 > p {
  font-size: 18px;
  word-spacing: 2px;
}

#section4-btn {
  color: white;
  border: white 4px solid;
  padding: ;
}

.footer {
  padding: 3rem 0rem;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: 22px;
  background-color: black;
  color: white;
  text-align: center;
}
